@model  WebAppConvertFolderDataToJasonFormat.Models.FolderNameModel
@{
    ViewData["Title"] = "Home Page";
}
<form method="POST">
    <label for="firstName">Your folder here:</label>
    <input asp-for="FolderName" placeholder="Your folder here" />
    <input type="submit" />
</form>
